@model IEnumerable<Hospital.Models.Doctor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Doctors</h1>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole(UserRole.Admin))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
}

<div class="container">
    <div class="row">
        @foreach (var doctor in Model)
        {
            <div class="col-3 card mb-1">
                <a href="/Doctor/Details/@doctor.Id">
                    <img src="@doctor.Avatar" alt="" class="card-img-top">
                    <div class="card-body">
                        <p class="card-title">@doctor.LastName @doctor.FirstName @doctor.Surname</p>
                        
                        <a href="/booking/create/@doctor.Id">
                            <button class="btn btn-primary mb-2">
                                Reserve
                            </button>
                        </a>
                    </div>
                </a>
            </div>
        }
    </div>
</div>